.balance {
  border-radius: 24px;
  background: linear-gradient(96deg, #299dc7 13%, #3fb6b6 109.38%);
  margin: auto;
  padding: 2rem 1rem;
  width: 60%;
  align-items: center;
}

.balance_title {
  color: var(--Color-Base-White, #fff);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.amount {
  color: var(--Color-Base-White, #fff);
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
