.button_wrapper {
  background: linear-gradient(
    180deg,
    var(--light-blue-color) -16.5%,
    var(--blue-color) 54.7%
  );
  box-shadow: 0px 2px 30px rgb(0 0 0 / 10%);
  border-radius: 12px;
  padding: 10px 25px;
  border: none;
  color: var(--white-color);
}
@media screen and (max-width: 768px) {
  .button_wrapper {
    padding: 5px 15px;
  }
}
