.transaction_date {
  color: #7b7b7b;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.transaction_card {
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.16);
}
.side_icon {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 24px;
  border: 1px solid #cfcfcf;
}
.add {
  color: #008000;
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.deduct {
  color: #f00;
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.gift {
  color: #008000;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.details {
  display: flex;
  padding: 14px 21px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 28px;
  border: 1px solid #156b68;
  background: transparent;
  color: #156b68;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.details:hover {
  color: white;
  background: linear-gradient(96deg, #299dc7 13%, #3fb6b6 109.38%);
}


