.terms_container {
    min-height: 50vh;
    margin: 40px 80px 80px 80px;
}
.logo {
    display: none;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    text-transform: capitalize;
    color: var(--dark-color);
    font-family: var(--Montserrat-Bold);
    margin-bottom: 30px;
}

.sub_title {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 29px;
    text-transform: capitalize;
    color: var(--dark-color);
    font-family: var(--Montserrat-Bold);
    margin-bottom: 16px;
}
.terms_container ul p {
    margin-inline-start: -2rem;
}

.title:first-letter {
    text-transform: uppercase;
}

.terms_content,  .terms_paragraph {
    font-weight: 400;
    font-size: 13px;
    opacity: 0.8;
    font-family: var(--Montserrat-Regular);
}

.terms_content li {
    margin-bottom: 16px;
}

@media screen and (max-width: 768px) {
    .terms_container {
        bottom: 0;
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999;
        background: var(--white-color);
        margin: 0;
        padding: 16px;
        overflow: auto;
    }
    .logo {
        display: block;
        margin-bottom: 20px;
    }
}