.container {
    width: 65%;
    margin: 40px auto 80px auto;
    margin-top: 30px;
    border: 1px so
    id var(--border-light-grey);
    border-radius: 12px;
}

.signin_title {
    font-family: var(--Montserrat-Regular);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-transform: capitalize;
    color: var(--dark-color);
    text-align: center;
    margin-bottom: 24px;
}

.inner_container {
    display: flex;
}

.form_container {
    padding: 30px 40px;
    flex: 1;
    margin-bottom: 0;
}

.main_img {
    border-radius: 0 12px 12px 0;
}

.welcome_back {
    color: var(--light-blue-color);
    font-family: var(--Montserrat-Regular);
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.welcome_back+p {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: var(--light-grey-color);
    margin-bottom: 48px;
}

.dont_have_account {
    text-align: center;
    margin: 15px;
    font-family: var(--Montserrat-Regular);
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: var(--light-grey-color);
}

.signUp {
    color: var(--light-blue-color);
    cursor: pointer;
}

.label {
    font-family: var(--Montserrat-Regular);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 14px;
    color: var(--dark-color);
}

.signin_input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--border-light-grey);
    border-radius: 0;
    padding: 0;
    padding-bottom: 6px;
    font-family: var(--Montserrat-Regular);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: var(--light-grey-color);
}

.signin_input::placeholder {
    font-family: var(--Montserrat-Regular);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: var(--light-grey-color);
}

.signin_input:focus {
    border-color: unset;
    box-shadow: none;
}


.alert-danger {
    font-weight: 100;
    font-size: 14px;
}

.button_wrapper {
    background: linear-gradient(180deg,
            var(--light-blue-color) -16.5%,
            var(--blue-color) 54.7%);
    box-shadow: 0px 2px 30px rgb(0 0 0 / 10%);
    border-radius: 12px;
    padding: 10px 25px;
    border: none;
    color: var(--white-color);
    width: 100%;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .button_wrapper {
        padding: 5px 15px;
    }

    .image_container {
        display: none;
    }

    .container {
        width: 90%;
    }
}