@font-face {
  font-family: "Montserrat Regular";
  src: url("../../public/fonts/Montserrat-Regular.woff");
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("../../public/fonts/Montserrat-Bold.woff");
}

body {
  margin: 0px;
  font-size: 16px !important;
  font-family: "Montserrat Regular" !important;
  font-style: normal;
  font-weight: 600 !important;
  --white-color: #ffffff;
  --orange-color: #ff6b00;
  --grey-color: #a2a2a2;
  --ligth-grey-color: #7b7b7b;
  --Montserrat-Regular: "Montserrat Regular";
  --Montserrat-Bold: "Montserrat Bold";
  --blue-color: #2396cc;
  --dark-color: #0c0c0c;
  --yellow-color: #fcd95c;
  --mustard-color: #fda82a;
  --light-blue-color: #44bcb7;
}
.container_wrapper {
  margin-inline: 80px;
}

.second_container_wrapper {
  margin-inline: 100px;
}

.cursor-pointer {
  cursor: pointer;
}
input:focus-visible {
  outline: unset !important;
}
