.popular_card {
  width: 50%;
  position: relative;
  background: var(--white-color);
  cursor: pointer;
  box-shadow: 0px 0px 15px rgb(0 0 0 / 5%);
  border-radius: 12px;
  padding-inline: 24px;
}

.popular_img {
  width: 100%;
  border-radius: 6px;
  height: 275px;
  object-fit: cover;
  margin-bottom: 16px;
  min-height: 275px;
}

.popular_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.popular_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.popular_header2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular_title {
  color: var(--light-grey-color);
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  text-transform: capitalize;
}

.per_day {
  color: var(--light-grey-color);
}

.default_price {
  color: var(--dark-color);
}

.icons_wrapper {
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid var(--light-grey-color);
  border-radius: 22px;
  padding: 3px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  justify-content: center;
}

.units_numbers {
  color: var(--light-grey-color);
  font-size: 13px;
}

.units_numbers_wrapper {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
}

.bed_icon {
  width: 19px;
  height: 15px;
}

.bath_icon {
  width: 23px;
  height: 20px;
}

.offers_wrapper {
  align-self: end;
  background: rgba(253, 168, 42, 0.12);
  box-shadow: -1px -1px 0px var(--mustard-color);
  border-radius: 12px 0px;
  padding: 15px 32px;
  font-size: 13px;
  text-align: center;
  margin-inline-end: -24px;
}

.offer_title {
  text-transform: capitalize;
  color: var(--mustard-color);
  margin-bottom: 4px;
}

.offer_price {
  color: var(--light-blue-color);
}

.offers_per_day {
  color: var(--light-grey-color);
}

.unit_type_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 16px;
  position: relative;
  top: 50px;
}

.unit_type {
  color: var(--blue-color);
  text-transform: capitalize;
  font-size: 14px;
  padding: 6px 24px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 22px;
}

.fav_icon_disabled {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%)
    hue-rotate(19deg) brightness(102%) contrast(100%);
}

@media screen and (max-width: 1280px) {
  .popular_img {
    height: 200px;
  }
}
