.Reset_Btn {
  background-color: #44bcb7;
  color: white;
  font-weight: bold;
}
.Reset_Btn:hover {
  background-color: #1a7873;
  color: white;
}
.error {
  color: rgb(216, 92, 92);
  font-size: small;
}

.success {
  color: #1a7873;
}

.sign_in {
  background: linear-gradient(
    180deg,
    var(--light-blue-color) -16.5%,
    var(--blue-color) 54.7%
  );
  box-shadow: 0px 2px 30px rgb(0 0 0 / 10%);
  border-radius: 12px;
  padding: 10px 25px;
  border: none;
  color: var(--white-color);
  width: 100%;
  margin-top: 20px;
  text-decoration: none;
}

.sign_in:hover {
  background: linear-gradient(
    180deg,
    var(--blue-color) -16.5%,
    var(--light-blue-color) 54.7%
  );
}
