.popularList_container {
  margin: 0 80px 80px 80px;
}
.popularList_header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popularList {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
}
.popularList > div {
  flex: 0 1 calc(50% - 15px);
}
