.footer_wrapper {
  background: url("../../../public/assets/footer.png") no-repeat center;
  background-size: cover;
  color: var(--white-color);
  box-shadow: inset 0 0 0 2000px rgba(26, 120, 115, 0.8);
  padding: 32px 100px;
  font-size: 14px;
}
.about_spotx {
  margin-bottom: 12px;
  color: var(--yellow-color);
}
.about {
  font-weight: 400;
  font-size: 13px;
  opacity: 0.8;
}
.footer_wrapper ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0px;
}
.footer_wrapper ul li {
  margin-bottom: 20px;
}
.footer_wrapper hr {
  margin-bottom: 32px;
  margin-inline: -100px;
  border-color: var(--white-color);
}
.copy_rights {
  margin-bottom: 0px;
  font-size: 13px;
  opacity: 0.8;
  text-align: center;
}

@media screen and (max-width: 1280px) {
  .footer_wrapper {
    padding: 32px 60px;
  }
  .footer_wrapper hr {
    margin-inline: -60px;
  }
}

@media screen and (max-width: 768px) {
  .footer_wrapper {
    padding-inline: 15px;
  }
  .footer_wrapper > div {
    flex-wrap: wrap;
    gap: 10px;
  }
  .footer_wrapper hr {
    margin-inline: -15px;
  }
}
